<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.alexandrecardoso.projetohotelfei">

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".Telas.CheckAdmRealiza" />
        <activity android:name=".Telas.CheckInAdm_listar" />
        <activity android:name=".Telas.CheckInAdm_BuscarUser" />
        <activity android:name=".Telas.CheckInAdm" />
        <activity android:name=".Telas.usuario_editarSenha" />
        <activity android:name=".Telas.menuAlterarQuarto" />
        <activity android:name=".Telas.usuario_editarinfo" />
        <activity android:name=".Telas.menuInsercaoQuarto" />
        <activity android:name=".Telas.cadastroUser" />
        <activity android:name=".Telas.loginUser" />
        <activity android:name=".Telas.menuCadastroNovoFuncionario" />
        <activity android:name=".Telas.menuVisualizarHotel" />
        <activity android:name=".Telas.menuAdministrador" />
        <activity android:name=".Telas.loginAdm" />
        <activity android:name=".Telas.UsuarioNovaReserva" />
        <activity android:name=".Telas.UsuarioReservas" />
        <activity android:name=".Telas.UsuarioExibirQuarto" />
        <activity android:name=".Telas.UsuarioBuscarQuarto" />
        <activity android:name=".Telas.UsuarioAvaliacao" />
        <activity android:name=".Telas.menuEstruturaHotel" />
        <activity android:name=".Telas.UsuarioMenu" />
        <activity android:name=".Telas.menuUsuario">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>